    <div class="backdrop"></div>

    <footer class="site-footer container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-content">
                    <div class="row">
                        <div class="col-md-12">
                            <p class="copyright">{{t "Copyright"}} &copy; {{date format="YYYY"}}, <a href="https://github.com/triozer">triozer</a>. {{t "All Right Reserved"}}.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>